.toolbar {
  display: flex;
  justify-content: left;
  box-sizing: border-box;
  height: 30px;
  .more-collections {
    border-width: 0 0 0 0;
    border-color: white;
    background-color: white;
    cursor: pointer;
  }
  .add-current-page {
    border-width: 0 0 0 0;
    background-color: white;
    cursor: pointer;
    color: #549fd7;
    &::before {
      color: #549fd7;
      content: " + ";
    }
    &:hover {
      text-decoration: underline;
    }
  }

  .add-note {
    box-sizing: border-box;
    border-width: 0 0 0 0;
    border-color: white;
    background-color: white;
    cursor: pointer;
    vertical-align: middle;
    .add-note-icon {
      width: 20px;
      height: 20px;
    }
  }

  .collection-name {
    border-width: 0;
    width: 180px; //TODO:修改为一般情况下宽度与value的宽度相当,media比较窄的时候会隐藏部分内容,并设置min-width
    line-height: 1.75rem;
    font-weight: bold;
    font-size: 1.125rem;
    &:hover {
      background-color: #dddddd;
    }
  }
}
.column {
  //column-width转化成count后会自动与column-count比较,选择较小的那一个
  column-width: 360px; //表示每一列的最佳宽度
  column-count: 2;
}
