/* .taojin-searchbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 0;
  z-index: 2147483647;
  pointer-events:none;
} */

.taojin-searchbar {
  position: fixed;
  top: 160px;
  width: 662px;
  left:0;
  right: 0;
  margin: auto;
  border: 1px;
  background-color: white;
  box-shadow: 0 0 30px bisque;
  border-radius: 10px;
  z-index: 2147483647;
}
.search-input {
  border: 0;
  width: 602px;
  height: 46px;
  font-size: x-large;
  background-color: bisque;
  color: black;
  margin: 10px;
  padding: 10px 20px;
  box-sizing: content-box;
}
.search-input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.bing-search-prompt li{
  margin: 10px;
  color: black;
  padding-left: 20px;
  font-size: larger;
  line-height: 36px;
  list-style: none;
}
.bing-search-prompt li:hover {
  background-color: bisque;
}

.search-content-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 10px;
  top: 70px;
  height: 48px;
  width: 48px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 50%;
  color: rgb(53,53,53);
  background-color: bisque;
  box-shadow: 0 0 10px bisque;
  font-size: xx-large;
  line-height: 36px;
  z-index: 2147483647;
}
.search-content-button:hover {
  color: bisque;
  background-color: rgb(53,53,53);
}

.search-bar-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 10px;
  top: 10px;
  height: 48px;
  width: 48px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 50%;
  color: rgb(53,53,53);
  background-color: bisque;
  box-shadow: 0 0 10px bisque;
  font-size: large;
  line-height: 36px;
  z-index: 2147483647;
}
.search-bar-button svg {
  fill: currentColor;
}
.search-bar-button:hover {
  color: bisque;
  background-color: rgb(53,53,53);
}

.search-content-box {
  position: fixed;
  top:0;
  left: 0;
  height: 100vh;
  width: 600px;
  resize: both;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 0 30px black;
}
.search-content-bar {
  display: flex;
  flex-direction: row-reverse;
  height: 36px;
  border-radius: 4px 4px 0 0;
  background-color: rgb(53,53,53);
}
.content-bar-button {
  height: 100%;
  width: 48px;
  padding: 0;
  border: 0;
  border-radius: 0 4px 0 0;
  font-size: x-large;
  line-height: 36px;
  color: bisque;
  background: rgb(53,53,53);
}

.content-bar-button:hover {
  background-color: black;
}

.bing-search-content {
  border: 0;
  height: calc(100% - 36px);
  width: 100%;
}

.baidu-search-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: calc(100% - 36px);
  width: 100%;
  overflow:scroll;
}
.baidu-search-content section{
  margin: 16px;
}
.baidu-search-content h3 {
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}
.baidu-search-content a:link {
  color: #001ba0;
}